section{
  display: flex;
  flex-direction: column;
}

.container-items{
  margin: 10px auto 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.evemail {
  text-align: center;
  margin-top: 15px;
  font-size: var(--font-medium);
}
